body::-webkit-scrollbar {
    display: none;
}
body {
    background-color:rgba(255,255,255,1);
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
#navBar {
    background-color:rgba(0,0,0,0.1);
    transition: all 0.7s;
}
#titulo {
    color: black;
    transition: 0.7s;
}
#titulo:hover {
    color:rgba(255,217,102, 1);
}
#descargarBut {
    background-color: #0dcaf0;
    transition: 0.7s;
}
#descargarBut:hover {
    background-color:rgba(255,217,102, 1);
    color:black;
}
#divImagen {
    background-image: url("./../images/mainmenubg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.navbar-scrolled {
    background-color:rgba(255,255,255,1) !important;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
hr {
    font-family: Arial, sans-serif; /* choose the font you like */
    text-align: center; /* horizontal centering */
    line-height: 1px; /* vertical centering */
    height: 1px; /* gap between the lines */
    font-size: 1em; /* choose font size you like */
    border-width: 1px 0; /* top and bottom borders */
    border-style: solid;
    border-color: #676767;
    margin: 20px 10px; /* 20px space above/below, 10px left/right */
    overflow: visible;
  
    /* ensure 1px gap between borders */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}
hr#planta:after {
    content: url("../images/ElementoTierra-1.png");
    display: block;
    margin: auto; /* Center the image horizontally */
    width: 50%; /* Set a width to the image */
    height: auto; /* Set height to auto to preserve aspect ratio */
    position: relative; /* Set position to relative for vertical centering */
    top: 50%; /* Move the image down by 50% of its height */
    transform: translateY(-50%); /* Move the image up by 50% of its height */
    text-align: center;
    padding: 0;
}
hr#agua:after {
    content: url("../images/ElementoAgua-1.png");
    display: block;
    margin: auto; /* Center the image horizontally */
    width: 50%; /* Set a width to the image */
    height: auto; /* Set height to auto to preserve aspect ratio */
    position: relative; /* Set position to relative for vertical centering */
    top: 50%; /* Move the image down by 50% of its height */
    transform: translateY(-50%); /* Move the image up by 50% of its height */
    text-align: center;
    padding: 0;
}
hr#fuego:after {
    content: url("../images/ElementoFuego-1.png");
    display: block;
    margin: auto; /* Center the image horizontally */
    width: 50%; /* Set a width to the image */
    height: auto; /* Set height to auto to preserve aspect ratio */
    position: relative; /* Set position to relative for vertical centering */
    top: 50%; /* Move the image down by 50% of its height */
    transform: translateY(-50%); /* Move the image up by 50% of its height */
    text-align: center;
    padding: 0;
}
x:-o-prefocus, hr:after {
    content: "";
  }