body::-webkit-scrollbar {
    display: none;
}
body {
    background-color:rgba(255,255,255,1);
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
#navBar {
    background-color:rgba(0,0,0,0.1);
    transition: all 0.7s;
}
#titulo {
    color: black;
    transition: 0.7s;
}
#titulo:hover {
    color:rgba(255,217,102, 1);
}
#descargarBut {
    background-color: #0dcaf0;
    transition: 0.7s;
}
#descargarBut:hover {
    background-color:rgba(255,217,102, 1);
    color:black;
}
#divImagen {
    background-image: url("./../images/mainmenubg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.navbar-scrolled {
    background-color:rgba(255,255,255,1) !important;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #000000;
    text-align: center;
}
hr#planta:after {
    content: url("../images/ElementoTierra-1.png");
    position: relative;
    top: -1.4em;
    font-size: 1.5em;
}